<div>
    <h2 id="page-heading">
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
        <span jhiTranslate="snowpoleApp.snowHistory.jobStatus.title">History Conversion Job Status</span>
        <button class="btn btn-primary float-right" (click)="refresh()">
            <fa-icon [icon]="'sync'"></fa-icon> <span jhiTranslate="health.refresh.button">Refresh</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="reports?.length === 0">
        <span jhiTranslate="snowpoleApp.snowHistory.jobStatus.notFound">No History Jobs Found</span>
    </div>
    <div class="alert alert-warning" [hidden]="!loading">
        <span>Loading Data...</span>
    </div>
    <div class="table-responsive" *ngIf="reports?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <!-- <th><span jhiTranslate="global.field.id">ID</span></th> -->
            <th><span>Name</span></th>
            <th><span>Start Time</span></th>
            <th><span>End Time</span></th>
            <th><span>Source Count</span></th>
            <th><span>Insert Count</span></th>
            <th><span>Delete Count</span></th>
            <th><span>Status</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobStatus of reports">
                <td>{{jobStatus.name}}</td>
                <td>{{jobStatus.startTime | date:'medium'}}</td>
                <td>{{jobStatus.endTime | date:'medium'}}</td>
                <td>{{jobStatus.sourceCount}}</td>
                <td>{{jobStatus.insertCount}}</td>
                <td>{{jobStatus.deleteCount}}</td>
                <td>{{jobStatus.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- <div [hidden]="snowHistories?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div> -->
</div>
