<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-snowflake-connection-heading" jhiTranslate="snowpoleApp.snowflakeConnection.home.createOrEditLabel">Create or edit a Snowflake Connection</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label col-sm-3"  jhiTranslate="snowpoleApp.snowflakeConnection.name" for="field_name">Name<span class="required">*</span></label>
                    <input type="text" class="col-sm-4 form-control-input" name="name" id="field_name" 
                           formControlName="name" aria-describedby="required-description"/> 
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label col-sm-3"  jhiTranslate="snowpoleApp.snowflakeConnection.description" for="field_description">Description</label>
                    <input type="text" class="col-sm-4 form-control-input" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label col-sm-3" jhiTranslate="snowpoleApp.snowflakeConnection.regionid"
                        for="field_RegionId">RegionId </label>
                    <select class="col-sm-4 form-control-input" id="field_RegionId" name="regionId"  formControlName="regionId">
                        <option *ngFor="let regionId of regionsId" [value]="regionId">{{regionId}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label col-sm-3"  jhiTranslate="snowpoleApp.snowflakeConnection.username" for="field_username">Username</label>
                    <input type="text" class="col-sm-4 form-control-input" name="username" id="field_username"
                           formControlName="username"/>
                    <div *ngIf="editForm.get('username').invalid && (editForm.get('username').dirty || editForm.get('username').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('username').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label col-sm-3"  jhiTranslate="snowpoleApp.snowflakeConnection.password" for="field_password">Password</label>
                    <input type="password" class="col-sm-4 form-control-input" name="password" id="field_password"
                           formControlName="password"/>
                    <div *ngIf="editForm.get('password').invalid && (editForm.get('password').dirty || editForm.get('password').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('password').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label col-sm-3"  jhiTranslate="snowpoleApp.snowflakeConnection.acct" for="field_acct">Acct</label>
                    <input type="text" class="col-sm-4 form-control-input" name="acct" id="field_acct"
                           formControlName="acct"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label col-sm-3"  jhiTranslate="snowpoleApp.snowflakeConnection.warehouse" for="field_warehouse">Warehouse</label>
                    <input type="text" class="col-sm-4 form-control-input" name="warehouse" id="field_warehouse"
                           formControlName="warehouse"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label col-sm-3"  jhiTranslate="snowpoleApp.snowflakeConnection.database" for="field_database">Database</label>
                    <input type="text" class="col-sm-4 form-control-input" name="database" id="field_database"
                           formControlName="database"/>
                    <div *ngIf="editForm.get('database').invalid && (editForm.get('database').dirty || editForm.get('database').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('database').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label col-sm-3"  jhiTranslate="snowpoleApp.snowflakeConnection.schema" for="field_schema">Schema</label>
                    <input type="text" class="col-sm-4 form-control-input" name="schema" id="field_schema"
                           formControlName="schema"/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" (click)="testConnection()" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-info">
                    <fa-icon [icon]="'save'"></fa-icon>
                    <span class="d-none d-md-inline">Test & Save Connection</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary"
                    joyrideStep="elevengthStep" stepPosition="top" title="Snowflake Connection" 
                    text="Create new Snowflake Connection with Name, target Url, Snowflake username, password, account, warehouse, database and schema">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div> 