<div class="row justify-content-center">
    <div class="col-4">
        <div *ngIf="migrationProcess">
            <h2><span jhiTranslate="snowpoleApp.migrationProcess.detail.title">Migration Process</span> {{migrationProcess.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="snowpoleApp.migrationProcess.name">Name</span></dt>
                <dd>
                    <span>{{migrationProcess.name}}</span>
                </dd>
                <dt><span jhiTranslate="snowpoleApp.migrationProcess.description">Description</span></dt>
                <dd>
                    <span>{{migrationProcess.description}}</span>
                </dd>

                <dt><span jhiTranslate="snowpoleApp.migrationProcess.sourceConnection">Source Connection</span></dt>
                <dd>
                    <div *ngIf="migrationProcess.sourceConnectionId">
                        <a [routerLink]="['/source-connection', migrationProcess.sourceConnectionId, 'view']">{{migrationProcess.sourceConnectionName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="snowpoleApp.migrationProcess.snowflakeConnection">Snowflake Connection</span></dt>
                <dd>
                    <div *ngIf="migrationProcess.snowflakeConnectionId">
                        <a [routerLink]="['/snowflake-connection', migrationProcess.snowflakeConnectionId, 'view']">{{migrationProcess.snowflakeConnectionName}}</a>
                    </div>
                </dd>

                <!-- <dt><span jhiTranslate="snowpoleApp.migrationProcess.type">Type</span></dt>
                <dd>
                    <span>{{migrationProcess.type}}</span>
                </dd>
                <dt><span jhiTranslate="snowpoleApp.migrationProcess.tablesToMigrate">Tables To Migrate</span></dt>
                <dd>
                    <span>{{migrationProcess.tablesToMigrate}}</span>
                </dd>
                <dt><span jhiTranslate="snowpoleApp.migrationProcess.lastStatus">Last Status</span></dt>
                <dd>
                    <span>{{migrationProcess.lastStatus}}</span>
                </dd> -->
                <!-- <dt><span jhiTranslate="snowpoleApp.migrationProcess.createdBy">Created By</span></dt>
                <dd>
                    <span>{{migrationProcess.createdBy}}</span>
                </dd> -->
                <dt><span jhiTranslate="snowpoleApp.migrationProcess.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{migrationProcess.createdDate}}</span>
                </dd>
                <!-- <dt><span jhiTranslate="snowpoleApp.migrationProcess.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{migrationProcess.lastModifiedBy}}</span>
                </dd> -->
                <dt><span jhiTranslate="snowpoleApp.migrationProcess.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{migrationProcess.lastModifiedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/migration-process', migrationProcess.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
    <div class="col-4">
        <fieldset>
            <h2>Select the tables to be migrated</h2>
            <hr>
            <div class="form-group has-search">
                <fa-icon class="form-control-feedback" [icon]="'search'"></fa-icon>
                <input type="text" class="form-control" placeholder="Search for tables" (input)="searchForTables($event.target.value)">
            </div>
            <div class="form-group" style="height: 40vh; overflow-y: auto;">
                <div class="custom-control custom-checkbox" *ngFor="let item of tables; let i=index">
                    <input type="checkbox" class="custom-control-input" [id]="i" [checked]="isChecked(item)" (change)="onSelectionChange(item)">
                    <label class="custom-control-label" [for]="i">{{item}}</label>
                </div>
            </div>
        </fieldset>
        <button type="button" class="btn btn-primary" (click)="testAndMigrate()">
            <fa-icon [icon]="'tasks'"></fa-icon>&nbsp;<span> Test & Migrate</span>
        </button>
    </div>
</div>
