<div>
    <h3 id="page-heading">
        <span>Data Acquisition Hub</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-migration-process button" [routerLink]="['/migration-process/new']"
            joyrideStep="Step 23" title="Snow Acquisition Hub" text="Create new DAH process with source and Snowflake connection">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="snowpoleApp.migrationProcess.home.createLabel">
            Create new Migration Process
            </span>
        </button>
    </h3>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="migrationProcesses?.length === 0">
        <span jhiTranslate="snowpoleApp.migrationProcess.home.notFound">No migrationProcesses found</span>
    </div>
    <div class="table-responsive" *ngIf="migrationProcesses?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="name"><span jhiTranslate="snowpoleApp.migrationProcess.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th jhiSortBy="type"><span jhiTranslate="snowpoleApp.migrationProcess.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <!-- <th jhiSortBy="tablesToMigrate"><span jhiTranslate="snowpoleApp.migrationProcess.tablesToMigrate">Tables To Migrate</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="sourceConnectionName"><span jhiTranslate="snowpoleApp.migrationProcess.sourceConnection">Source Connection</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="snowflakeConnectionName"><span jhiTranslate="snowpoleApp.migrationProcess.snowflakeConnection">Snowflake Connection</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!-- <th jhiSortBy="lastStatus"><span jhiTranslate="snowpoleApp.migrationProcess.lastStatus">Last Status</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="createdBy"><span jhiTranslate="snowpoleApp.migrationProcess.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th> 
            <th jhiSortBy="createdDate"><span jhiTranslate="snowpoleApp.migrationProcess.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="snowpoleApp.migrationProcess.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th> 
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="snowpoleApp.migrationProcess.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let migrationProcess of migrationProcesses ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/migration-process', migrationProcess.id, 'view' ]">{{migrationProcess.id}}</a></td> -->
                <td>{{migrationProcess.name}}</td>
                <!-- <td>{{migrationProcess.type}}</td> -->
                <!-- <td>{{migrationProcess.tablesToMigrate}}</td> -->
                <td>
                    <div *ngIf="migrationProcess.sourceConnectionId">
                        <a [routerLink]="['../source-connection', migrationProcess.sourceConnectionId , 'view' ]" >{{migrationProcess.sourceConnectionName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="migrationProcess.snowflakeConnectionId">
                        <a [routerLink]="['../snowflake-connection', migrationProcess.snowflakeConnectionId , 'view' ]" >{{migrationProcess.snowflakeConnectionName}}</a>
                    </div>
                </td>
                <!-- <td>{{migrationProcess.lastStatus}}</td> -->
                 <td>{{migrationProcess.createdBy}}</td> 
                <td>{{migrationProcess.createdDate | date:'medium'}}</td>
               <td>{{migrationProcess.lastModifiedBy}}</td> 
                <td>{{migrationProcess.lastModifiedDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class = "btn-link">
                        <!-- <button type="submit"
                                [routerLink]="['/migration-process', migrationProcess.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button> -->
                        <button type="submit"
                                (click)="sendTableList(migrationProcess)"
                                class="btn btn-info btn-sm button">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            <span class="d-none d-md-inline">Run</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/migration-process', migrationProcess.id, 'view']"
                                class="btn btn-primary btn-sm button">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                (click)="viewProcessStatus(migrationProcess.id)"
                                class="btn btn-info btn-sm button">
                            <fa-icon icon="book" fixedWidth="true"></fa-icon>
                            <span class="d-none d-md-inline">Report</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'migration-process', { outlets: { popup: migrationProcess.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm button">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="migrationProcesses?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
