<div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate (ngSubmit)="changePassword()" [formGroup]="editForm">
                <h2 id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">
                    Create or edit a User
                </h2>
    
                <div>
                    <jhi-alert></jhi-alert>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-control-label" jhiTranslate="userManagement.firstName"
                                        for="field_firstName">First
                                        Name</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="col-sm-12 form-control-input" name="firstName"
                                        id="field_firstName" formControlName="firstName" />
                                </div>
                                <div class="col-sm-2"
                                    *ngIf="editForm.get('firstName').invalid && (editForm.get('firstName').dirty || editForm.get('firstName').touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('firstName').errors.required"
                                        jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('firstName').errors.maxlength"
                                        jhiTranslate="entity.validation.maxlength" [translateValues]="{max: 50}">
                                        This field cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-control-label" jhiTranslate="userManagement.lastName"
                                        for="field_lastName">Last
                                        Name</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="col-sm-12 form-control-input" name="lastName"
                                        id="field_lastName" formControlName="lastName" />
                                </div>
                                <div class="col-sm-2"
                                    *ngIf="editForm.get('lastName').invalid && (editForm.get('lastName').dirty || editForm.get('lastName').touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('lastName').errors.required"
                                        jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('lastName').errors.maxlength"
                                        jhiTranslate="entity.validation.maxlength" [translateValues]="{max: 50}">
                                        This field cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-control-label" jhiTranslate="userManagement.login"
                                        for="field_login">Login</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="col-sm-12 form-control-input" name="login" id="field_login"
                                        formControlName="login" />
                                </div>
                                <div class="col-sm-2"
                                    *ngIf="editForm.get('login').invalid && (editForm.get('login').dirty || editForm.get('login').touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('login').errors.required"
                                        jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('login').errors.maxlength"
                                        jhiTranslate="entity.validation.maxlength" [translateValues]="{max: 50}">
                                        This field cannot be longer than 50 characters.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('login').errors.pattern"
                                        jhiTranslate="entity.validation.patternLogin">
                                        This field can only contain letters, digits and e-mail addresses.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-control-label" jhiTranslate="userManagement.email"
                                        for="field_email">Email</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="col-sm-12 form-control-input" name="email" id="field_email"
                                        formControlName="email" />
                                </div>
                                <div class="col-sm-2"
                                    *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('email').errors.required"
                                        jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('email').errors.maxlength"
                                        jhiTranslate="entity.validation.maxlength" [translateValues]="{max: 50}">
                                        This field cannot be longer than 50 characters.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('email').errors.pattern"
                                        jhiTranslate="entity.validation.patternLogin">
                                        This field can only contain letters, digits and e-mail addresses.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('email').errors.email"
                                        jhiTranslate="global.messages.validate.email.invalid">
                                        Your email is invalid.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-control-label" jhiTranslate="userManagement.profiles"
                                        for="field_authority">Profiles
                                    </label>
                                </div>
                                <div class="col-sm-4">
                                    <select class="col-sm-12 form-control-input" name="authorities" id="field_authority"
                                        formControlName="authorities">
                                        <option *ngFor="let authority of authorities" [value]="authority">{{authority}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-2"
                                    *ngIf="editForm.get('authorities').invalid && (editForm.get('authorities').dirty || editForm.get('authorities').touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('authorities').errors.required"
                                        jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-control-label" jhiTranslate="userManagement.password"
                                        for="field_password">Password
                                    </label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="col-sm-12 form-control-input" name="password"
                                        id="field_password" formControlName="password">
                                </div>
                                <div class="col-sm-2"
                                    *ngIf="editForm.get('password').invalid && (editForm.get('password').dirty || editForm.get('password').touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('password').errors.required"
                                        jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('password').errors.minlength"
                                        jhiTranslate="global.messages.validate.newpassword.minlength">
                                        Your password is required to be at least 8 characters.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('password').errors.maxlength"
                                        jhiTranslate="global.messages.validate.newpassword.maxlength">
                                        Your password cannot be longer than 12 characters.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="editForm.get('password').errors.pattern"
                                        jhiTranslate="global.messages.validate.newpassword.pattern">
                                        Password should have atleast one Lowercase letters, Uppercase letters, Numbers, Special characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="editForm.get('password').value">
                        </jhi-password-strength-bar>
                    </div>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label class="form-control-label" jhiTranslate="userManagement.confirmPassword"
                                        for="field_confirmpassword">Confirm Password
                                    </label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="col-sm-12 form-control-input" name="confirmPassword"
                                        id="field_confirmPassword" formControlName="confirmPassword">
                                </div>
                                <div class="col-sm-2"
                                    *ngIf="editForm.get('confirmPassword').invalid && (editForm.get('confirmPassword').dirty || editForm.get('confirmPassword').touched)">
                                    <small class="form-text text-danger"
                                        *ngIf="editForm.get('confirmPassword').errors.required"
                                        jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                        *ngIf="editForm.get('confirmPassword').errors.minlength"
                                        jhiTranslate="global.messages.validate.newpassword.minlength">
                                        Your password is required to be at least 4 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                        *ngIf="editForm.get('confirmPassword').errors.maxlength"
                                        jhiTranslate="global.messages.validate.newpassword.maxlength">
                                        Your password cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>