<div>
    <h2 id="page-heading">
        <span>SnowDDL</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-snow-ddl" [routerLink]="['/snow-ddl/new']"
            joyrideStep="twelthStep" title="SnowDDL" text="Create new DDL conversion">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="snowpoleApp.snowDDL.home.createLabel">
            Create new DDL Conversion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="snowDDLs?.length === 0">
        <span jhiTranslate="snowpoleApp.snowDDL.home.notFound">No SnowDDL Conversions found</span>
    </div>
    <div class="table-responsive" *ngIf="snowDDLs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="name"><span jhiTranslate="snowpoleApp.snowDDL.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sourceConnectionName"><span jhiTranslate="snowpoleApp.snowDDL.sourceConnection">Source Connection</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="snowpoleApp.snowDDL.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="snowpoleApp.snowDDL.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="snowpoleApp.snowDDL.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslatpe="snowpoleApp.snowDDL.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let snowDDL of snowDDLs ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/snow-ddl', snowDDL.id, 'view' ]">{{snowDDL.id}}</a></td> -->
                <!-- <td>{{snowDDL.id}}</td> -->
                <td>{{snowDDL.name}}</td>
                <td>
                    <div *ngIf="snowDDL.sourceConnectionId">
                        <a [routerLink]="['../source-connection', snowDDL.sourceConnectionId , 'view' ]" >{{snowDDL.sourceConnectionName}}</a>
                    </div>
                </td>
                <td>{{snowDDL.createdBy}}</td>
                <td>{{snowDDL.createdDate | date:'medium'}}</td>
                <td>{{snowDDL.lastModifiedBy}}</td>
                <td>{{snowDDL.lastModifiedDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                (click)="convertDDL(snowDDL)"
                                class="btn btn-info btn-sm">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            <span class="d-none d-md-inline">Generate</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/snow-ddl', snowDDL.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                (click)="viewProcessStatus(snowDDL.id)"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="book" fixedWidth="true"></fa-icon>
                            <span class="d-none d-md-inline">Report</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'snow-ddl', { outlets: { popup: snowDDL.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="snowDDLs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
